  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Employee Database Manager</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/employees">Employees</a>
        </li>
        <li>
          <a href="/create">Add New Employee</a>
        </li>
      </ul>
    </div>
  </div>
