<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Employee Database Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Employee Database Manager</a>
        </div>
        <ul class="nav navbar-nav">
          <li>
            <a href="/employees">Employees</a>
          </li>
          <li>
            <a href="/create">Add New Employee</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron">
        <div class="row">
        <h2>Welcome to the <br>
        Employee Database Manager</h2>
      </div>
      <div class="row">
        <a href="/employees" class="btn btn-sm btn-primary">Search Employees</a>
      </div>
    </div>
  </div>

  <div class="container">
    <footer>
      <div class="row footer">
        <p>Created by David Woodard &copy; Employee Database Manager 2017 : MIT</p>
      </div>
    </footer>
  </div>

  </body>
</html>
